<%= form_with(model: [question.quiz, question]) do |form| %>
  <% if quiz.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :question_text %>
    <%= form.text_field :question_text %>
  </div>

  <div class="mt-4">
    <%= form.submit %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>