<%= form_with(model: question.persisted? ? question : [question.quiz, question], data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
  <% if question.errors.any? %>
    <div class="bg-red-100 text-red-700 p-4 rounded mb-4">
      <h2 class="font-bold"><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <template data-nested-form-target="template">
    <%= form.fields_for :answers, Answer.new, child_index: 'NEW_RECORD' do |ff| %>
      <%= render "answer_form", form: ff %>
    <% end %>
  </template>

  <div class="mb-6">
    <%= form.label :question_text, "Question Text", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :question_text, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-brown-500 focus:ring focus:ring-brown-500 " %>

    <%= form.fields_for :answers do |ff| %>
      <% unless ff.object.marked_for_destruction? %>
        <%= render 'answer_form', form: ff %>
      <% end %>
    <% end %>
  </div>

  <div data-nested-form-target="target"></div>

  <div class="flex items-center space-x-4">
    <div class="mt-4 inline-block rounded-md bg-gradient-to-r from-green-400 to-green-600 px-6 py-3 text-base font-medium text-white hover:from-green-500 hover:to-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2">
      <%= form.submit %>
    </div>
    <button type="button" data-action="nested-form#add" class='mt-4 inline-block rounded-md bg-brown-500 px-4 py-2 text-sm text-white hover:bg-brown-600 focus:outline-none focus:ring-2 focus:ring-brown-500 focus:ring-offset-2'>
      Add answer
    </button>
  </div>
<% end %>

