<h1><%= @title %></h1>

<div id="quizzes">
  <% @quizzes.each do |quiz| %>
    <%= render quiz %>
    <span class="inline-flex -space-x-px overflow-hidden rounded-md border bg-white shadow-sm">
      <%= link_to edit_quiz_path(quiz), class: btn_class do %>
        Edit
      <% end %>
      <%= link_to quiz_path(quiz), class: btn_class do %>
        View
      <% end %>
    </span>
  <% end %>
</div>

<p class="mt-4">
  <span class="inline-flex -space-x-px overflow-hidden rounded-md border bg-white shadow"-sm>
    <%= link_to new_quiz_path, class: btn_class do %>
      New quiz
    <% end %>
  </span>
</p>

<p><%= @description %></p>

  