<!DOCTYPE html>
<html>
<head>
  <title>Welcome to QuizGrove</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <h1 class="font-bold text-2xl">Welcome to QuizGrove</h1>
  
  <div class="mt-4">
    <%= link_to "Create a New Quiz", new_quiz_path, class: "inline-block px-4 py-2 bg-brown-500 text-white rounded hover:bg-brown-600" %>
  </div>
  
  <div class="mt-4">
    <%= link_to "Show Quizzes", quizzes_path, class: "inline-block px-4 py-2 bg-brown-500 text-white rounded hover:bg-brown-600" %>
  </div>
</body>
</html> 