<!-- app/views/devise/sessions/new.html.erb -->

<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg mt-8">
  <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center">Log In</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4" }) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-brown-500" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-brown-500" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="flex items-center mb-4">
        <%= f.check_box :remember_me, class: "form-checkbox h-4 w-4 text-brown-600" %>
        <%= f.label :remember_me, class: "ml-2 block text-gray-700 text-sm font-bold" %>
      </div>
    <% end %>

    <div class="mb-6">
      <%= f.submit "Log in", class: "bg-brown-500 hover:bg-brown-700 text-white font-bold py-2 px-4 rounded-full w-full" %>
    </div>
  <% end %>

  <div class="text-center mt-6">
    <% if devise_mapping.registerable? %>
      <%= link_to "Sign up", new_registration_path(resource_name), class: "bg-brown-500 hover:bg-brown-700 text-white font-bold py-2 px-4 rounded-full mb-4 inline-block" %>
    <% end %>

    <% if devise_mapping.recoverable? %>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: "bg-brown-500 hover:bg-brown-700 text-white font-bold py-2 px-4 rounded-full mb-4 inline-block" %>
    <% end %>

    <% if devise_mapping.confirmable? %>
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "bg-brown-500 hover:bg-brown-700 text-white font-bold py-2 px-4 rounded-full mb-4 inline-block" %>
    <% end %>

    <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) %>
      <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "bg-brown-500 hover:bg-brown-700 text-white font-bold py-2 px-4 rounded-full mb-4 inline-block" %>
    <% end %>

    <% if devise_mapping.omniauthable? %>
      <% resource_class.omniauth_providers.each do |provider| %>
        <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "bg-brown-500 hover:bg-brown-700 text-white font-bold py-2 px-4 rounded-full mb-4 inline-block" %>
      <% end %>
    <% end %>
  </div>
</div>

